# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
#env/
#givenv/
pip-selfcheck.json

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
#*.tfvars
*.tfplan
.terraform.lock.hcl

# IDE
.idea/
.vscode/

# Logs
*.log